#!/usr/bin/make -f

export USE_PGXS=1
PG_VERSION := 17
PG_CONFIG := /usr/lib/postgresql/$(PG_VERSION)/bin/pg_config
DESTPKG := $(CURDIR)/debian/percona-postgresql-$(PG_VERSION)-repack

%:
	dh $@

override_dh_auto_build:
	sed -i 's|\$$(libpq)|-lpgcommon -lpgport \$$(libpq)|g' bin/Makefile
	$(MAKE) USE_PGXS=1 PG_CONFIG=$(PG_CONFIG)

override_dh_auto_test:
	# nothing to do here

override_dh_auto_install:
	$(MAKE) USE_PGXS=1 PG_CONFIG=$(PG_CONFIG) DESTDIR=$(DESTPKG) install
	echo "update-alternatives --install /usr/bin/pg_repack pg_repack /usr/lib/postgresql/$(PG_VERSION)/bin/pg_repack $(PG_VERSION)" >> debian/percona-postgresql-$(PG_VERSION)-repack.postinst.debhelper
	echo "update-alternatives --remove pg_repack /usr/lib/postgresql/$(PG_VERSION)/bin/pg_repack" >> debian/percona-postgresql-$(PG_VERSION)-repack.prerm.debhelper

override_dh_installdocs:
	dh_installdocs --all doc/*

override_dh_auto_clean:
	$(MAKE) USE_PGXS=1 PG_CONFIG=$(PG_CONFIG) clean || true

override_dh_builddeb:
	dh_builddeb -- -Zgzip
