Source: percona-pgaudit
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Build-Depends:
 debhelper (>= 10),
 percona-postgresql-server-dev-17,
 libssl-dev
Standards-Version: 3.9.8
Homepage: http://pgaudit.org/

Package: percona-postgresql-17-pgaudit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, percona-postgresql-17 (>= 17) | postgresql-17 (>= 17)
Provides: pgaudit, postgresql-17-pgaudit
Description: PostgreSQL Audit Extension
 The pgAudit extension provides detailed session and/or object audit logging
 via the standard PostgreSQL logging facility.
 .
 The goal of pgAudit is to provide PostgreSQL users with capability to produce
 audit logs often required to comply with government, financial, or ISO
 certifications.
