#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	autoreconf --force --install
	./configure --prefix=/usr \
	    --sysconfdir=/etc/pgpool2 \
	    --with-pgsql=/usr/lib/postgresql/17 \
	    --with-openssl \
	    --with-pam \
	    --with-memcached=/usr \
	    --disable-static \
	    --disable-rpath

override_dh_auto_build:
	make -C src/parser gram.h gram_minimal.h
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	make DESTDIR=$(CURDIR)/debian/tmp install -C src/sql/pgpool-recovery
	make DESTDIR=$(CURDIR)/debian/tmp install -C src/sql/pgpool_adm

override_dh_builddeb:
	dh_builddeb -- -Zgzip
