#!/usr/bin/make -f

export DH_VERBOSE=1
export GOTOOLCHAIN=local
export CGO_ENABLED=0

OBS_SOURCES_DIR = /usr/src/packages/SOURCES

%:
	dh $@

override_dh_auto_configure:
override_dh_auto_test:
override_dh_strip:
override_dh_dwz:
override_dh_compress:
override_dh_shlibdeps:

override_dh_auto_build:
	tar -xzf $(OBS_SOURCES_DIR)/vendor-server.tar.gz   -C server/
	tar -xzf $(OBS_SOURCES_DIR)/vendor-etcdctl.tar.gz  -C etcdctl/
	tar -xzf $(OBS_SOURCES_DIR)/vendor-etcdutl.tar.gz  -C etcdutl/
	mkdir -p bin
	cd server  && go build -mod=vendor -trimpath -o ../bin/etcd .
	cd etcdctl && go build -mod=vendor -trimpath -o ../bin/etcdctl .
	cd etcdutl && go build -mod=vendor -trimpath -o ../bin/etcdutl .
	cp debian/etcd.conf.yaml .

override_dh_installinit:
	dh_installinit -p etcd-server --name=etcd

override_dh_installsystemd:
	dh_installsystemd -p etcd-server --name=etcd

