Source: percona-ppg-server-%!{PG_MAJOR_VERSION}
Section: database
Priority: optional
Maintainer: Percona Development Team <info@percona.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://www.percona.com/software/postgresql-distribution

Package: percona-ppg-server-%!{PG_MAJOR_VERSION}
Architecture: any
Depends:
 percona-postgresql-%!{PG_MAJOR_VERSION},
 percona-postgresql-common,
 percona-postgresql-contrib,
 percona-postgresql-%!{PG_MAJOR_VERSION}-pgaudit,
 percona-postgresql-%!{PG_MAJOR_VERSION}-repack,
 percona-postgresql-%!{PG_MAJOR_VERSION}-wal2json,
 percona-pg-stat-monitor%!{PG_MAJOR_VERSION},
 ${misc:Depends},
Description: Essential / key PostgreSQL %!{PG_MAJOR_VERSION} components
 Percona Distribution for PostgreSQL features core components, tools and add-ons
 from the community, tested to work together in demanding enterprise environments.
